@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #636CEF;
  --secondary-color: #1E1F23;
  --background-color: #0E0E0E;
  --text-white: #FFFFFF;
  --text-gray: #B9BBBE;
  --text-light-gray: #8d8d8d;
}

@layer components {
  .span {
    @apply text-(--text-light-gray) text-xs sm:text-sm;
  }
  .H2 {
    @apply text-lg sm:text-xl lg:text-2xl font-bold text-(--text-white);
  }
  .p {
    @apply text-sm sm:text-base text-(--text-gray) font-medium;
  }
}
